@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

:root {
  --GOLD-COLOR: #dfdf74;
  --DARK-BLUE: #2e323f;
  --LIGHT-BLUE: #3b4050;
  --LIGHT-GRAY: #6f737f;
  --WHITE: #ffffff;
  --BROWN: #a59678;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  font-family: Oswald;
}

/* Oswald Bold - font-size: 18px;
Oswald Bold - font-size: 24px;
Oswald Bold - font-size: 24px;
Oswald Bold - font-size: 30px;
Monserrat Regular - font-size: 18px
Oswald Bold - font-size: 30px;
Monserrat Regular - font-size: 18px
Oswald Bold - font-size: 36px;
Monserrat Regular - font-size: 21px
Oswald Bold - font-size: 21px;
Monserrat Regular - font-size: 16px */

/* NAVBAR START */
header {
  background-color: var(--DARK-BLUE);
  padding: 1em 0;
  text-align: center;
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  z-index: 1000;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.logo {
  display: inline-flex;
  height: 2rem;
}

/* When the mouse is not clicked, the navbar remains hidden with its postion absolute */
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

/* When the mouse is clicked or toggled, the javascript file takes this and renders the navbar visible relative to it's initial place or position */
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.nav {
  width: 100%;
}
.nav__item {
  list-style: none;
  margin-top: 0.8em;
}

.nav__list--primary {
  margin-bottom: 1.5em;
}

.nav__link {
  color: var(--GOLD-COLOR);
  text-decoration: none;
  font-family: Oswald;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__link:focus,
.nav__link:hover {
  opacity: 0.8;
}

.nav__link--button {
  background-color: var(--BROWN);
  padding: 0.3em 0.63em;
  border-radius: 50px;
}

.nav-toggle {
  cursor: pointer;
  width: 3em;
  height: 3em;
  padding: 0;
  border: none;
  background-color: var(--LIGHT-BLUE);
  border-radius: 50%;
  color: var(--WHITE);
  transform: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.hamburger {
  width: 50%;
  background-color: var(--WHITE);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: var(--WHITE);
}

.hamburger:focus,
.hamburger:hover {
  opacity: 0.75;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}
/* NAVBAR END */

/* HERO SECTION START */

.hero {
  padding: 90px 0;
  background-color: var(--LIGHT-BLUE);
  color: var(--WHITE);
}

.hero__text {
  margin-bottom: 2em;
}
.subtitle {
  line-height: 2rem;
}
.subtitle p {
  width: 100%;
  margin-bottom: 2em;
  font-size: 24px;
  font-weight: 300;
  font-family: Monserrat;
}
.primary-content,
.sidebar {
  width: 100%;
}

.btn {
  color: var(--WHITE);
  background-color: var(--BROWN);
  font-size: 1.25rem;
  font-family: Oswald;
  font-weight: 400;
  padding: 0.7em 1em;
  border-radius: 3.25rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 2em;
}
/* HERO SECTION END */

/* MIDDLE SECTION START*/

.middle {
  background-color: #f1f1f1;
  padding: 70px 0;
}

.col {
  margin-bottom: 2em;
}

.middle__title {
  color: var(--BROWN);
  text-align: center;
  font-size: 30px;
  font-family: Oswald;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.middle__text {
  text-align: center;
  font-family: Monserrat;
  font-size: 18px;
}

/* MIDDLE SECTION END*/

/* MAIN SECTION START */

.main {
  padding: 70px 0;
}

.primary__content--title {
  color: var(--BROWN);
  font-family: Oswald;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0.5em;
}

.primary-content p {
  font-family: Monserrat;
  font-size: 21px;
  margin: 20px auto;
}
/* MAIN SECTION END */

/* ASIDE SECTION START */

.sidebar__content {
  background-color: var(--DARK-BLUE);
  margin-bottom: 1em;

  text-align: center;
  padding: 20px;
  color: var(--WHITE);
}

.sidebar__title {
  margin-bottom: 0.6em;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
}

.sidebar__content p {
  font-family: Monserrat;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 1.2em;
}

/* ASIDE SECTION END */

/* FOOTER SECTION START */
.footer {
  background-color: var(--LIGHT-BLUE);
  padding: 60px 0;
}
.footer__title {
  text-align: center;
  color: var(--WHITE);
  font-family: Oswald;
  font-weight: bold;
  line-height: 40px;
  font-size: 34px;
  margin: 0 0 1.3em 0;
}

.footer__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  grid-auto-rows: 1fr;
}

.footer__col--title {
  color: var(--BROWN);
  margin: 0 0 0.9em 0;
  font-family: Oswald;
  font-weight: 700;
}

.footer__col--text {
  color: var(--WHITE);
  font-family: Monserrat;
  line-height: 26px;
}
.footer__list {
  list-style: none;
}

.footer__item {
  margin-bottom: 0.9em;
}

.footer__link {
  color: var(--LIGHT-GRAY);
  text-decoration: none;
  font-family: Monserrat;
  font-size: 16px;
  font-weight: 400;
}

.footer__link:focus,
.footer__link:hover {
  opacity: 0.7;
}

.main__content {
  display: flex;
  max-width: 100%;
}

/* FOOTER SECTION END*/

/* ======= @MEDIA SECTION START ======== */
/* -------  USING MIN-WIDTH -------- */

@media (width >= 30em) {
  .footer__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__col--text {
    padding-right: 30px;
  }
}

/* Whatever code we are applying here renders only when the screen goes beyond the min-width specified... starting from the min */
@media (width >= 48em) {
  /* This means that when the screen goes above 700px, nav-toggle should be invisible */
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    height: auto;
    justify-content: flex-end;
  }
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav__list {
    display: flex;
  }

  .nav__item {
    margin: 0 0 0 1.4rem;
  }
  .hero__text {
    width: 60%;
  }
  .subtitle {
    width: 39%;
    align-self: flex-end;
  }
  .col + .col {
    margin-left: 3.4em;
  }
  .primary-content,
  .sidebar {
    display: flex;
    width: 100%;
  }
  .primary-content {
    flex-direction: column;
  }
  .sidebar__content + .sidebar__content {
    margin-left: 10px;
  }
  .primary__content--image {
    height: 240px;
  }

  .footer__title {
    font-size: 48px;
  }
  .footer__cards {
    grid-template-columns: 50% 1fr 1fr 1fr;
  }

  .footer__col--text {
    padding-right: 30px;
  }
}

@media (width >=64em) {
  .row {
    flex-wrap: nowrap;
  }

  .hero__text h1 {
    font-size: 90px;
    line-height: 95px;
  }
  .subtitle {
    line-height: 2rem;
  }
  .subtitle p {
    width: 100%;
    margin-bottom: 2em;
    font-size: 24px;
    font-family: Monserrat, sans-serif;
    font-weight: 400;
  }

  .primary-content {
    width: 55%;
  }

  .sidebar {
    width: 36%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .sidebar__content + .sidebar__content {
    margin-left: auto;
  }

  .footer__col--text {
    padding-right: 30px;
  }
}
